h1{
    font-family: "Playwrite NO", cursive;
    color: #ff87af;
    text-align: center;
    padding-top: 20px;
}
img{
    margin-left: 300px;
    border-radius: 5px;
}
div{
    margin-top: 50%;
    
}